name: CI for main branch

on:
  push:
    branches: [main]

jobs:
  test-go:
    strategy:
      matrix:
        version: [stable, oldstable]
    uses: ./.github/workflows/wf-test-go.yml
    with:
      go-version: ${{ matrix.version }}

  tagpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2
        id: app-token
        with:
          app-id: 364898
          private-key: ${{ secrets.ARTHUR1_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: Songmu/tagpr@da82ed6743aec90049892070edd5561335904a9e # v1
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
