name: CI for main branch

on:
  push:
    branches: [main]

jobs:
  test-go:
    strategy:
      matrix:
        version: [stable, oldstable]
    uses: ./.github/workflows/wf-test-go.yml
    with:
      go-version: ${{ matrix.version }}

  tagpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: 364898
          private-key: ${{ secrets.ARTHUR1_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: Songmu/tagpr@da82ed6743aec90049892070edd5561335904a9e # v1.17.0
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
