name: test-go

on:
  workflow_call:
    inputs:
      go-version:
        type: string
        required: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: ${{ inputs.go-version }}
      - uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7
        with:
          args: --timeout=10m
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version: ${{ inputs.go-version }}
      - run: |
          go install github.com/mfridman/tparse@latest
      - run: |
          set -o pipefail
          go test ./... -cover -json | tee ./go-test.out | tparse -all
      - if: always()
        run: |
          tparse -file ./go-test.out -format markdown >> "$GITHUB_STEP_SUMMARY"
          go clean -testcache
